<p>employee-create works!</p>


<div class="container" [formGroup]="formAddNewEmployee">
    <h2 class="text-black-50">Create Employee</h2>
        <!-- <a href=":/localhost:4200" class="btn btn-primary">Back to Home</a> -->
        <div class="form-group">
            <label>Full Name Employee</label>
            <input type="text" class="form-control" placeholder="Full name employee" formControlName="name">
            <p *ngIf="formAddNewEmployee.controls.name.errors?.required&&formAddNewEmployee.controls.name.touched" class="text-danger">Required not null</p>
        </div>
        <div class="form-group">
            <label>Birth Day</label>
            <br>
            <mat-form-field>
                <input [max] ="maxDate" [min]="minDate" class="form-control" formControlName="birthday" matInput [matDatepicker]="myDatepicker">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>
            <p *ngIf="formAddNewEmployee.controls.birthday.errors?.required&&formAddNewEmployee.controls.birthday.touched" class="text-danger">Required not null</p>

        </div>
        <div class="form-group">
            <label>Gender </label><br>
            <input type="radio" id="male"  value="male" formControlName="gender">
            <label for="male">Male</label><br>
            <input type="radio" id="female"  value="female" formControlName="gender">
            <label for="female">Female</label><br>
            <input type="radio" id="other"  value="other" formControlName="gender">
            <label for="other">Other</label>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="Phone" formControlName="phoneNumber">
            <p *ngIf="formAddNewEmployee.controls.phoneNumber.errors?.required&&formAddNewEmployee.controls.phoneNumber.touched" class="text-danger">Required not null</p>
            <p *ngIf="formAddNewEmployee.controls.phoneNumber.errors?.pattern&&formAddNewEmployee.controls.phoneNumber.touched" class="text-danger">Required phone incorrect</p>
        </div>
        <div class="form-group">
            <label>CMND</label>
            <input type="text" class="form-control" placeholder="CMND" formControlName="cmnd">
            <p *ngIf="formAddNewEmployee.controls.cmnd.errors?.required&&formAddNewEmployee.controls.cmnd.touched" class="text-danger">Required not null</p>
            <p *ngIf="formAddNewEmployee.controls.cmnd.errors?.pattern && formAddNewEmployee.controls.cmnd.touched" class="text-danger">Required is invalid, require 9 number</p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="email" formControlName="email">
            <p *ngIf="formAddNewEmployee.controls.email.errors?.required&&formAddNewEmployee.controls.email.touched" class="text-danger">Required not null</p>
            <p *ngIf="formAddNewEmployee.controls.email.errors?.email&&formAddNewEmployee.controls.email.touched" class="text-danger">Email is invalidate</p>
        </div>
            
            
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="address">
            <p *ngIf="formAddNewEmployee.controls.address.errors?.required&&formAddNewEmployee.controls.address.touched" class="text-danger">Required not null</p>
        </div>

        <div class="form-group">
            <label>Salary</label>
            <input type="number" class="form-control" placeholder="Enter Salary" formControlName="salary">
            <p *ngIf="formAddNewEmployee.controls.salary.errors?.required&&formAddNewEmployee.controls.salary.touched" class="text-danger">Required not null</p>
            <p *ngIf="formAddNewEmployee.controls.salary.errors?.pattern&&formAddNewEmployee.controls.salary.touched" class="text-danger">Required >0 and no charactor</p>
        </div>
        <div class="form-group">
            <label>Id Position</label>
            <input type="number" class="form-control" placeholder="Id Vi tri" formControlName="idPosition">
            <p *ngIf="formAddNewEmployee.controls.idPosition.errors?.required&&formAddNewEmployee.controls.idPosition.touched" class="text-danger">Required not null</p>
        </div>
        <div class="form-group">
            <label>Id department</label>
            <input type="number" class="form-control" placeholder="Id Bo Phan" formControlName="idDepartment">
            <p *ngIf="formAddNewEmployee.controls.idDepartment.errors?.required&&formAddNewEmployee.controls.idDepartment.touched" class="text-danger">Required not null</p>
        </div>
        <div class="form-group">
            <label>Id scope </label>
            <input type="number" class="form-control" placeholder="Id Trinh Do" formControlName="idScope">
            <p *ngIf="formAddNewEmployee.controls.idScope.errors?.required&&formAddNewEmployee.controls.idScope.touched" class="text-danger">Required not null</p>
        </div>
</div>


<div class="row d-flex" style="margin-left: 40px;">
    <button [disabled]="formAddNewEmployee.invalid" class="btn btn-primary" type="submit" (click)="addNewEmploy()"> Add new</button>
  </div>