<p>contract works!</p>
<div class="container">
    <h2 class="text-capitalize"> Create Contract Page </h2>
    <div class="form-group">
        <label>Id Contract</label>
        <input type="number" class="form-control" placeholder="Enter Id Contract">
    </div>
    <div class="form-group">
        <label>Id Customer</label>
        <input type="number" class="form-control" placeholder="Enter Id Customer">
    </div>
    <div class="form-group">
        <label>Id Employee</label>
        <input type="number" class="form-control" placeholder="Enter Id Employee">
    </div>
    <div class="form-group">
        <label>Id Service</label>
        <input type="number" class="form-control" placeholder="Enter Id Service">
    </div>

    <div class="form-group">
        <label>Day start</label>
        <input type="date" class="form-control" placeholder="DD/MM/YYYY">
    </div>
    <div class="form-group">
        <label>Day End</label>
        <input type="date" class="form-control" placeholder="DD/MM/YYYY">
    </div>
    <div class="form-group">
        <label>Deposit </label>
        <input type="number" class="form-control" placeholder="Enter Deposit">
    </div>
    <div class="form-group">
        <label>Total money </label>
        <input type="number" class="form-control" placeholder="Enter Totel money">
    </div>
</div>