<h1> Data-binding learn </h1>

<!-- 
<p> Interpolation:show 1 variable from ts to view using  </p> 

<div>{{element1}}</div> -->


<table class="table">
    <thead>
        <tr>
            <th>NameProperty</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let objectPB of listObjectPropertyBinding">
            <td>{{objectPB.nameProperty}}</td>
            <td>{{objectPB.description}}</td>
        </tr>
    </tbody> 
</table>

<div style="width: fit-content; background: burlywood;">---------------------------------------</div>


<div> Test Interpolation</div>
    