<div class="container" [formGroup] = "formEditServices">

    <h2> Edit Service Page</h2>

    <div class="form-group">
        <label>Name Services</label>
        <input type="text" class="form-control" placeholder="Enter Name Services" formControlName="name">
    </div>

    <div class="form-group">
        <label>Description Services</label>
        <input type="text" class="form-control" placeholder="Enter Description of Services" formControlName="description">
    </div>
    <div class="form-group">
        <label>Price Services</label>
        <input type="number" class="form-control" placeholder="Enter Price of Services" formControlName="price">
    </div>

    <div class="form-group">
        <label>View Services</label>
        <input type="text" class="form-control" placeholder="Enter Links View of Services" formControlName="links">
    </div>

    <div>
        <button class="btn btn-info" type="submit" (click) ="editService()"> Submit </button>
    </div>
</div>

