<!-- <div>
     <h1> Awesome Calculator</h1>
    </div>
<div>
    <input type="number">

    <label for="cal"></label>

    <select id="cal">
      <option value="plus">+</option>
      <option value="minus">-</option>
      <option value="multiply">*</option>
      <option value="divide">/</option>
    </select>
    <input type="number">
</div>
<input type="submit" value="C   alculate"> -->
<h2>Awesome Calculator</h2>
<div>
  <input type="number" class="form-input"
         [value]="first"
         (change)="onFirstChange($event.target.value)">
  <select
    class="form-input"
    [value]="operator"
    (change)="onSelectChange($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="number" class="form-input"
         [value]="second"
         (change)="onSecondChange($event.target.value)">
</div>
<div>
  <button class="form-input" (click)="calculate()">
    Thực thi
  </button>
</div>

<div class="output">
  {{output}}
</div>