
<div class="container">
    <h2 class="text-capitalize"> Create Contract Detail Page </h2>
    <div class="form-group">
        <label>Id Contract Detail</label>
        <input type="number" class="form-control" placeholder="Enter Id Contract Detail">
    </div>
    <div class="form-group">
        <label>Id Contract </label>
        <input type="number" class="form-control" placeholder="Enter Id Contract">
    </div>
    <div class="form-group">
        <label>Id Accompanied service</label>
        <input type="number" class="form-control" placeholder="Enter Id Dich Vu Di Kem">
    </div>
    <div class="form-group">
        <label>amount </label>
        <input type="number" class="form-control" placeholder="Enter amount">
    </div>
    
</div>